{% import "utils.html" as utils %}
{% import "local.html" as local %}
{% import "reportutils.html" as reportutils %}
{% if not only_html_body %}
<html>
<head>
    <title>Latest ({{ report.run_count }}) Runs Report</title>
</head>
<body style="{{ styles['body'] }}">
{% endif %}

<h2 style="text-align:center">Latest Runs Report</h2>

{{ utils.regex_filter_box(input_id='machine-filter',
                          selector='.searchable-machine',
                          placeholder="Machine name regex...",
                          selector_part_to_search=".machine-name")
}}
{{ utils.regex_filter_box(input_id='test-filter',
                          selector='.searchable',
                          placeholder="Test name regex...",
                          selector_part_to_search=".test-name")
}}

<h5>Server query filter</h5>
<form method="GET">
    <label>Number of runs:
        <input type="number" min="2" max="100" name="num_runs" value="{{ report.run_count }}">
    </label>
    <label for="all_changes">Display all changes:
        <input type="checkbox" name="all_changes" id="all_changes" {% if report.all_changes %}checked{% endif %} />
    </label>
    <label for="all_elf_detail_stats">Display all ELF detail stats:
        <input type="checkbox" name="all_elf_detail_stats" id="all_elf_detail_stats" {% if report.all_elf_detail_stats %}checked{% endif %} />
    </label>
    <label>Minimum threshold (float number):
        <input type="number" min="0.001" step="any" name="min_percentage_change" value="{{ report.min_percentage_change }}">
    </label>
    <label>GIT revisions (comma separated):
        <input type="text" name="revisions" value="{{ report.revisions }}" style="width: 600px;">
    </label>
    <input type="submit" value="Generate">
</form>

{% for field, field_results in report.result_table %}
    {%- if field_results -%}
        {{ utils.render_popup_begin(field.display_name, field.display_name, false, element = 'h3') }}
        {% for machine, machine_run_orders, machine_results in field_results %}
            <div class="searchable-machine">
                <h5 class="machine-name">{{machine.name}}</h5>
                <table border="1" style="{{ styles.table }};">
                    <thead>
                        <tr>
                            <th style="{{ styles.th }}; width: 320px;">Test Name</th>
                            {% for v in machine_run_orders|reverse %}
                            <th style="{{ styles.th }}; min-width: 40px;"><a>{{v[1]}}</a></th>
                            {% endfor %}
                            <th style="{{ styles.th }}">Sparkline</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test, test_results in machine_results %}
                            <tr class="searchable">
                                <td class="test-name" style="{{ styles.td }}; width: 80px;"><a href="{{
                  ts_url}}/graph?plot.0={{machine.id}}.{{test.id}}.{{
                    report.ts.get_field_index(field)}}">{{test.name}}</a></td>
                                {{ reportutils.get_initial_cell_value(test_results.values[0], field, analysis, styles) }}
                                {% for result in test_results.values[1:] %}
                                    {{ reportutils.get_cell_value(result, analysis, styles, report.min_percentage_change) }}
                                {% endfor %}
                                <td>{{ reportutils.spark_plot(test_results) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {{ utils.render_popup_end() }}
    {% else %}
        <h3>No significant {{ field.display_name }} changes found.</h3>
    {%- endif -%}
{% endfor %}

{% if not only_html_body %}
</body>
</html>
{% endif %}
